.element__button-like {
  border: 0;
  background-color: #fff;
  cursor: pointer;
  background-image: url(../../../images/status\ disabled.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  margin-right: 21px;
}
.element__button-like:hover {
  opacity: 0.5;
}
.element__button-like:focus {
  background-image: url(../../../images/status\ activ.svg);
}